/* light 主题颜色 */
:root:root.van-theme-light {
  --van-home-bg-color: #EFF2F5;
  --home-bg-color: #EFF2F5;
  --home-cell-bg-color: #fff;
  --home-font-color-b: #000;
}
/* dark 主题颜色 */
:root:root.van-theme-dark {
  --van-home-bg-color: #202124;
  --home-bg-color: #202124;
  --home-cell-bg-color: #2D2E31;
  --home-font-color-b: #fff;
}
